@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ubuntu Font */
@font-face {
  font-family: "Ubuntu";
  src: url("./assets/fonts/Ubuntu-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Ubuntu";
  src: url("./assets/fonts/Ubuntu-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Ubuntu";
  src: url("./assets/fonts/Ubuntu-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@layer base {
  body {
    font-family: "Ubuntu", sans-serif;
  }
}

@layer components {
  .purpleColor {
    @apply text-purple-300;
  }
}